html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  outline: none; }

html {
  background: #252525; }

body {
  background: #252525; }

.responsiveImage img {
  width: 100%;
  display: block;
  position: relative; }

.wrapContent {
  margin: 0 auto;
  background-color: #252525;
  min-width: 320px;
  position: relative; }
  @media (min-width: 40.625em) {
    .wrapContent {
      max-width: 1216px;
      padding-left: 2rem;
      padding-right: 2rem; } }

#wrapper.b-experience {
  color: #222;
  font-family: "Museo Sans W01 300";
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  position: relative;
  z-index: 1; }
  #wrapper.b-experience *, #wrapper.b-experience *::before, #wrapper.b-experience *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.catalog-category-view .col3-layout .col-right {
  display: none; }
.catalog-category-view .col3-layout .col-wrapper {
  width: 100%; }
.catalog-category-view .col3-layout .col-wrapper .col-main {
  width: 100%;
  float: none;
  *zoom: 1; }
  .catalog-category-view .col3-layout .col-wrapper .col-main:before, .catalog-category-view .col3-layout .col-wrapper .col-main:after {
    content: " ";
    display: table; }
  .catalog-category-view .col3-layout .col-wrapper .col-main:after {
    clear: both; }
