<footer class="footer">
	<div class="footer__blockWrapper">
		<div class="footer__block">
		<h3 class="footer__title">EMAIL SUPPORT:<br></h3>
		<a class="footer__link" href="mailto:info@geometricamapp.com">info@geometricamapp.com</a>
	</div>
		<div class="footer__block">
			<h2 class="footer__title">Reach us here:</h2>
			<ul class="footer__list">
				<li class="footer__item footer__twitter">
					<a class="footer__iconLink" href="https://www.twitter.com/geometricamapp"></a>
				</li>
				<li class="footer__item footer__instagram">
					<a class="footer__iconLink" href="https://www.instagram.com/geometricamapp"></a>
				</li>
			</ul>
		</div>
	</div>
	<a class="section__download" href="https://itunes.apple.com/us/app/geometricam-abstract-geometric/id1059442774?mt=8"></a>
	<p class="footer__paragraph">The Apple logo is a trademark of Apple Inc., registered in the U.S. and other countries.<br>
App Store is a service mark of Apple Inc.</p>
</footer>