.catalog-category-view

	.col3-layout .col-right
		display: none

	.col3-layout .col-wrapper
		width: 100%

	.col3-layout .col-wrapper .col-main
		width: 100%
		float: none
		+clearfix

	.col3-layout .col-wrapper .col-main
		padding: 0
		position: relative

	.category-title
		width: 100%
		height: 130px
		background: #fff url(../images/demo/list/canvas.jpg) right top no-repeat
		background-size: 75%
		padding-left: 25%
		h1
			width: 25%
			float: left
			line-height: 130px
			position: absolute
			left: 0
			padding-left: 15px
			@extend %font-sans-semibold

	.products-grid
		padding: 20px

		.product-image
			border: none

		.actions
			display: none

		.product-name
			@extend %font-sans-bold
			color: $napaBlack
			a
				color: $napaBlack
				font-size: 20px

	.product-info
		min-height: 0!important
		padding-bottom: 0!important

	.price-box .price, .price
		@extend %font-serif-regular
		color: #87001e
		font-size: 12px

	.products-grid--max-4-col > li
		margin-right: 0
		width: 25%

	.products-grid--max-4-col > li:nth-child(even)
		margin-right: 0



	// toolbar
	.toolbar
		margin: 0
		border: 0
		background: #EFEFEF
		height: 50px
		line-height: 50px
		padding: 0 15px
		color: #363636

		.sorter > .sort-by .sort-by-switcher, .sorter > .view-mode .grid, .sorter > .view-mode .list
			vertical-align: middle
			display: inline-block
			float: none
			margin: 0



		.pager
			display: none

		.sorter
			width: 100%

			>.view-mode
				display: none

			> .sort-by
				float: right
				height: 50px

		.pager > .count-container
			margin-top: 10px

.toolbar-bottom
	display: none


.main-container, .footer-container
	max-width: 1216px
	// padding: 0 32px

.wrapper
	max-width: 1216px
	padding: 0 32px
	background: #252525
