.catalog-category-view

	.col3-layout .col-right
		display: none

	.col3-layout .col-wrapper
		width: 100%

	.col3-layout .col-wrapper .col-main
		width: 100%
		float: none
		+clearfix

	.col3-layout .col-wrapper .col-main
		padding: 0
		position: relative

	.category-title
		width: 100%
		height: 130px
		background: #fff url(../images/demo/list/canvas.jpg) right top no-repeat
		background-size: 75%
		padding-left: 25%
		h1
			width: 25%
			float: left
			line-height: 130px
			position: absolute
			left: 0
			padding-left: 15px
			@extend %font-sans-semibold



	// toolbar
	.toolbar
		margin: 0
		border: 0
		background: #EFEFEF
		height: 50px
		line-height: 50px
		padding: 0 15px
		color: #363636

		.sorter > .sort-by .sort-by-switcher, .sorter > .view-mode .grid, .sorter > .view-mode .list
			vertical-align: middle