.catalog-category-view

	.col3-layout .col-right
		display: none

	.col3-layout .col-wrapper
		width: 100%

	.col3-layout .col-wrapper .col-main
		width: 100%
		float: none
		+clearfix

	.col3-layout .col-wrapper .col-main
		padding: 0
		position: relative

	.category-title
		width: 100%
		height: 0
		padding-bottom: 16%
		overflow: hidden
		position: relative
		background: #fff url(../images/demo/list/canvas.jpg) right top no-repeat
		background-size: 100%
		padding-left: 25%
		display: none

		&:before
			content: ""
			position: absolute
			background: #fff
			left: 0
			bottom: 0
			height: 100%
			margin: 0
			width: 25%

		+breakpoint(770px)
			display: block
		h1
			padding-left: 15px
			vertical-align: middle
			display: inline-block
			padding-top: 9%
			line-height: 1em

			@extend %font-sans-semibold

	.products-grid
		padding: 0

		.product-image
			border: none

		.actions
			display: none

		.product-name
			@extend %font-sans-bold
			color: $napaBlack
			a
				color: $napaBlack
				font-size: 20px

	.product-info
		min-height: 0!important
		padding-bottom: 0!important

	.price-box .price, .price
		@extend %font-serif-regular
		color: #87001e
		font-size: 12px

	.products-grid--max-4-col > li


		margin-right: 0

		width: 50%

		+breakpoint(480px)
			width: 33%

		+breakpoint(770px)
			width: 25%


.products-grid > li:nth-child(3n+1)

	+breakpoint(480px)
		clear: left
	+breakpoint(770px)
		clear: none
	+breakpoint(960px)
		clear: none


.products-grid > li:nth-child(2n+1)
	clear: left
	+breakpoint(480px)
		clear: none
	+breakpoint(770px)
		clear: none
	+breakpoint(960px)
		clear: none

.products-grid > li:nth-child(4n+1)
	clear: none
	+breakpoint(480px)
		clear: none
	+breakpoint(770px)
		clear: left
	+breakpoint(960px)
		clear: none


	// .products-grid--max-4-col > li:nth-child(even)
	// 	margin-right: 0



	// toolbar
	.toolbar
		margin: 0
		border: 0
		background: #EFEFEF
		height: 50px
		line-height: 50px
		padding: 0 15px
		color: #363636

		.sorter > .sort-by .sort-by-switcher, .sorter > .view-mode .grid, .sorter > .view-mode .list
			vertical-align: middle
			display: inline-block
			float: none
			margin: 0



		.pager
			display: none

		.sorter
			width: 100%

			>.view-mode
				display: none

			> .sort-by
				float: right
				height: 50px

		.pager > .count-container
			margin-top: 10px

.toolbar-bottom
	display: none


